* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.square {
  background: #fff;
  border: 6px solid #000;
  float: left;

  font-size: 48px;
  font-weight: bold;
  line-height: 34px;

  height: 64px;
  margin-right: -6px;
  margin-top: -6px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status-container {
  margin-bottom: 8px;
  font-size: 16px;
}

.status-message {
  font-size: 24px;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-history {
  margin-left: 64px;
  font-size: 24px;
}

.history-item {
  border: 2px solid #000;
  border-radius: 16px;
  font-size: 20px;
  margin-bottom: 16px;
}